.header {
   padding: 20px 0;

   .container {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__links {
      display: flex;
      align-items: center;
      gap: 70px;

      nav {
         display: flex;

         a {
            width: 97px;
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            color: #000;
            border: 3px solid #fff;
            transition: border 0.3s ease;

            &:hover {
               border-bottom: 3px solid #F9BF77;
            }

            &:active {
               border: 3px solid #F9BF77;
            }
         }
      }
   }

   &__btn {
      width: 138px;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      color: #FFF;
      background: #000;
      border: 1px solid rgba(255, 255, 255, 0.30);
      border-radius: 2px;
      transition: box-shadow 0.2s ease;

      &:hover {
         box-shadow: 0 0 10px rgba(255, 153, 0, 0.7);
      }

      &:active {
         box-shadow: 0 0 10px #ff9900;
      }
   }

   &__mail {
      display: flex;
      align-items: flex-end;
      gap: 10px;
   }
}

@media screen and (max-width: 767px) {
   .header {
      .container {
         flex-direction: column;
         align-items: center;
         gap: 10px;
      }

      &__links {
         flex-direction: column;
         gap: 0;
      }
   }
}